@font-face{
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face{
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

body {
	line-height: 17px;
}

.top_bar {
	width: 100%;
	min-width: 1050px; 				/* won't be too small when resized, stop resizing after certain wert  */
	height: 40px;
	background-color: #b276ec;      /*  https://flatuicolors.com/palette/us */
	border-bottom: 0.25em solid #8854d0;
	margin: 0 0 10px 0;
	display: inline-flex;
}

.logo a{                             /*  a means tag */
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-left: 10px;
	font-size: 30;
	position: relative;
	top: 9px;
	color: #8854d0;
	text-shadow: #0c0a17 0.5px 0.5px 0px;	
	text-decoration: none; /* no underline  */	
}

nav {
	float: right;
	right: 1px;
	position: absolute;
	margin: 10px;
}

nav a{
	position: relative;
	color: #fff;
	text-decoration: none; /* no underline  */	
	font-size: 17px;
}

nav a:hover {
	border-bottom: 7px solid #fff;
	color: #fff;
}
/* https://fontawesome.com/ */